{% extends 'BRSCoreBundle:Widget:panel.html.twig' %}
{% block widget %}
	
	{% for widget in widgets %}
	
		{{ widget | raw }}
	
	{% endfor %}
	
	<div class="content-list-widget list-widget widget">
		
		<div class="widget-header">
			<h2>{{ 'page_content' | trans }}:</h2>
		</div>
		
		<div class="widget-body list">
			
			<div class="list-actions wrapper">
				<a id="add-content-button" class="btn btn-small btn-success add-button list-action"><i class="icon-pencil icon-white"></i> {{ 'Add Content' | trans }}</a>
			</div>
			
			{% include 'BRSPageBundle:Widget:content.list.html.twig' %}
			
		</div>
	</div>
	
{% endblock %}
{% block widget_js %}
		
	<script type="text/javascript">
		
		var content_panel = new ContentPanel({
			id:'{{route}}_{{name}}',
			name:'{{ name }}', 
			route:'{{ route }}',
			action:'{{ path(route, { 'name':name, 'route':'' }) }}',
			page_id:'{{ page.id }}'
		});
		
	</script>
	
{% endblock %}